<div class=@($"addPlayer {showPanel}")>
    <div class="emptyLeft"></div>
    <div class="ticketGenerator">
        <div class="navBar justify-content-right addPlayerNavColor">
            <button class="button" @onclick="closeTicketsPanel" >Close X</button>
        </div>
        <div class="content">
            hi hello namasthe
        </div>
    </div>
</div>
