<div class="container">
    <div class="sidebar @Class">@sideBody</div>
    <div class="mainbody">@mainBody</div>
</div>
@code {
    [Parameter]
    public RenderFragment sideBody{ get; set; }
    [Parameter]
    public RenderFragment mainBody{ get; set; }
    [Parameter]
    public string Class { get; set; } = "";
    public void statechanged() { StateHasChanged(); }
}
