body {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.ticket{
	display:grid;
	grid-template-columns: repeat(9,45px);
	margin:auto;
	margin-bottom: 90px;
	width:fit-content;
}
.overflow-scroll{
	overflow:scroll;
	height:250px;
}
.full-height{
	height:calc(100vh - 60px);
}
