<h3>DisplayTickets</h3>

@if(ticketManager != null){
    for(int i = 0; i < NumberOfTickets; i++)
    {
        <div class="ticket">
            @for(int j = 0; j < 3; j++)
            {
                for(int k = 0; k < 9; k++)
                {
                    <Cell number=ticketManager.Tickets[i].TicketArray[j,k]/>
                }
            }
        </div>
    }
}