.container{
    display:grid;
    height:100vh;
    grid-template-columns:250px auto;
    grid-template-rows:var(--nav-bar-height) auto;
}
.container-navbar{
    grid-column: 1 / -1 ;
}
.container-sidebar{
    display:block;
    background-color:#dfdfdf;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.container-mainbody{
    background:white;
}