@using Tambola.Services
@page "/"

<AddPlayer showTickets="showTickets" showTicketsPanel="closeButtonInChildClicked"></AddPlayer>

<div class="navBar">
    <span style="margin-left:30px;font-size:large;"><b>Tambola</b></span>    
    <div style="margin-right:30px;">
    <button class="button button-primary" @onclick="btnClicked">Add player</button> 
    </div>
</div>

