@using Tambola.Services
@page "/"
<h3>Test</h3>


<DisplayTickets NumberOfTickets=6></DisplayTickets>
<nav class="navBar">
    <a href="#">Hiii</a>
    <ul>
        <li><a href="#">this is a anchor tag</a></li>
    </ul>
</nav>
<button class="btnPrimary" @onclick="btnClicked">Add player</button>
